* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
    padding-top: 80px;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* empuja el footer hacia abajo */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #667eea;
}

.nav-buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.btn-login {
    background: transparent;
    color: #667eea;
    border: 2px solid #667eea;
}

.btn-login:hover {
    background: #667eea;
    color: white;
}

.btn-register {
    background: #667eea;
    color: white;
}

.btn-register:hover {
    background: #5a67d8;
    transform: translateY(-2px);
}






footer {
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 2rem 0;
    margin-top: 4rem;
    border-radius: 20px 20px 0 0;
}

@media (max-width: 768px) {

    .nav-buttons {
        flex-direction: column;
        gap: 0.5rem;
    }

}
